[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
selenium = "*"
tabulate = "*"
ipdb = "*"
docopt = "*"
pyyaml = "*"
tinymongo = {git = "https://github.com/sunbit/tinymongo.git"}
tinydb-serialization = "*"
flask = "*"
flask-restful = "*"
schedule = "*"
python-dateutil = "*"
python-telegram-bot = "*"
pytest = "*"
urllib3 = ">=1.24.2"
six = ">=1.3.0"
flask-cors = "*"

[requires]
python_version = "3.7.3"
